@inherits LayoutComponentBase
<div class="@MinSidebarCssClass">
    <div class="desktop-navbar noselect">
        <!-- Header -->
        <div class="fixed-top header wraper">
            <nav class="top-navbar navbar navbar-expand-lg">
                <div class="container">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle wraper-div" href="#" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="images/profile-photo.png" class="profile-photo" alt="">
                                <span>Sara</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="images/logout.png" class="sidebar-icon dropdown-icon"
                                             alt="">
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Desktop Sidebar -->
        <div class="sidebar">
            <ul class="nav flex-column">

                <li class="sidebar-title">
                    <div class="toggle-sidebar-wrapper">
                        <div class="toggle-sidebar" @onclick="ToggleSidebar">
                            <img src="images/navbar.svg" class="sidebar-icon" alt="">
                        </div>
                        <span>Admin Panel</span>
                    </div>
                </li>

                <li class="nav-item">
                    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">
                        <div class="nav-link-inner">
                            <img src="images/home.svg" class="sidebar-icon" alt="">
                            <span>Home</span>
                        </div>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/students" class="nav-link students" Match="NavLinkMatch.Prefix">
                        <div class="nav-link-inner">
                            <img src="images/students.png" class="sidebar-icon" alt="">
                            <span>Students</span>
                        </div>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>

    <!--Mobile Navbar-->
    <div class="mobile-navbar noselect">
        <div>
            <div class="@MobileNavbarCssClass navbar-content" id="navbarContent">
                <ul class="nav flex-column">
                    <li class="">
                        <div class="profile-container">
                            <img src="images/profile-photo.png" class="profile-photo" alt="">
                            <span>Sara Rasoulian</span>
                        </div>
                        <hr />
                    </li>
                    <li class="nav-item" @onclick="ToggleMobileNavbar">
                        <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">
                            <div class="nav-link-inner">
                                <img src="images/home.svg" class="sidebar-icon" alt="">
                                <span>Home</span>
                            </div>
                        </NavLink>
                    </li>
                    <li class="nav-item" @onclick="ToggleMobileNavbar">
                        <NavLink href="/students" class="nav-link" Match="NavLinkMatch.Prefix">
                            <div class="nav-link-inner">
                                <img src="images/students.png" class="sidebar-icon" alt="">
                                <span>Students</span>
                            </div>
                        </NavLink>
                    </li>

                    <hr class="line" />

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="nav-link-inner">
                                <img src="images/logout.png" class="sidebar-icon" alt="">
                                <span>Log Out</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="@MobileNavbarCssClass navbar-background"
                 @onclick="ToggleMobileNavbar"></div>
            <div class="navbar-top">
                <div @onclick="ToggleMobileNavbar">
                    <img src="images/navbar.svg" class="navbar-icon" alt="">
                </div>
            </div>
        </div>
    </div>

    <main>
        @Body
    </main>
</div>

@code {
    #region Toggle Mini Sidebar
    private bool isSidebarMinimized = false;
    private string? MinSidebarCssClass => isSidebarMinimized ? "min-sidebar" : null;
    private void ToggleSidebar()
    {
        isSidebarMinimized = !isSidebarMinimized;
    }
    #endregion

    #region Toggle Mobile Navbar
    private bool isMobileNavbarVisible = false;
    private string? MobileNavbarCssClass => isMobileNavbarVisible ? "display" : null;
    private void ToggleMobileNavbar()
    {
        isMobileNavbarVisible = !isMobileNavbarVisible;
    }
    #endregion
}